/***** Article hero styles *****/
.article-hero {
    background-position: center top;
    background-size: cover;
    padding: 54px 20px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.article-hero .search-icon {
    color: #104499;
    transform: scale(1.5);
    position: absolute;
    top: 27px;
    left: 24px;
}

.article-page {
    max-width: 1160px;
    margin: 0 auto;
    padding: 64px 5% 0;
    display: flex;
    flex-direction: column;
}

.article-page .article-breadcrumbs {
    padding-bottom: 64px;
}

.article-page .article-breadcrumbs a {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #104499;
}

.article-page .article-breadcrumbs li + li::before {
    color: #104499;
    content: "â¯"
}

.article-page .articles-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.articles-list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    width: 436px;
    margin-right: 112px;
}

.articles-list a {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    padding: 42px 28px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    margin-bottom: 16px;
    color: #000000;
}

.articles-list a.current-article {
    border: 1px solid #1F63FF;
    color: #1F63FF;
}


/***** Article *****/
.article {
    /*
    * The article grid is defined this way to optimize readability:
    * Sidebar | Content | Free space
    * 17%     | 66%     | 17%
    */
    flex: 1 0 auto;
}

@media (min-width: 1024px) {
    .article {
        flex: 1 0 66%;
        max-width: 66%;
        min-width: 640px;
        padding: 0 30px;
    }
}

.article-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .article-container {
        flex-direction: row;
    }
}

.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .article-header {
        flex-direction: row;
        margin-top: 0;
    }
}

.article-avatar {
    margin-right: 10px;
}

.article-author {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .article-title {
        flex-basis: 100%;
        /* Take entire row */
    }
}

.article-title .icon-lock {
    position: relative;
    left: -5px;
    vertical-align: baseline;
}

.article [role="button"] {
    flex-shrink: 0;
    /*Avoid collapsing elements in Safari (https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored)*/
    width: 100%;
}

@media (min-width: 768px) {
    .article [role="button"] {
        width: auto;
    }
}

.article-info {
    max-width: 100%;
}

.article-meta {
    display: inline-block;
    vertical-align: middle;
}

.article-body img {
    height: auto;
    max-width: 100%;
}

.article-body ul, .article-body ol {
    padding-left: 20px;
    list-style-position: outside;
    margin: 20px 0 20px 20px;
}

[dir="rtl"] .article-body ul, [dir="rtl"] .article-body ol {
    padding-right: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 20px;
}

.article-body ul > ul, .article-body ol > ol, .article-body ol > ul, .article-body ul > ol, .article-body li > ul, .article-body li > ol {
    margin: 0;
}

.article-body ul {
    list-style-type: disc;
}

.article-body a:visited {
    color: darken($link_color, 20%);
}

.article-body code {
    background: darken($background_color, 3%);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 2px;
}

.article-body pre {
    background: darken($background_color, 3%);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 15px;
    overflow: auto;
    white-space: pre;
}

.article-body blockquote {
    border-left: 1px solid #ddd;
    color: lighten($text_color, 20%);
    font-style: italic;
    padding: 0 15px;
}

.article-body > p:last-child {
    margin-bottom: 0;
}

.article-content {
    line-height: 1.6;
    margin: 40px 0;
    word-wrap: break-word;
}

.article-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.article-comment-count {
    color: lighten($text_color, 20%);
    font-weight: 300;
}

.article-comment-count:hover {
    text-decoration: none;
}

.article-comment-count-icon {
    vertical-align: middle;
    color: $brand_color;
    width: 18px;
    height: 18px;
}

.article-relatives {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

@media (min-width: 768px) {
    .article-relatives {
        flex-direction: row;
    }
}

.article-relatives > * {
    flex: 1 0 50%;
    min-width: 50%;
    overflow-wrap: break-word;
    margin-right: 0;
}

.article-relatives > *:last-child {
    padding: 0;
}

@media (min-width: 768px) {
    .article-relatives > * {
        padding-right: 20px;
    }
}

.article-votes {
    border-top: 1px solid #ddd;
    padding: 30px 0;
    text-align: center;
}

.article-vote {
    margin: 10px 5px;
    min-width: 90px;
    width: auto;
}

.article-more-questions {
    margin: 10px 0 20px;
    text-align: center;
}

.article-return-to-top {
    border-top: 1px solid #ddd;
}

@media (min-width: 1024px) {
    .article-return-to-top {
        display: none;
    }
}

.article-return-to-top a {
    color: $text_color;
    display: block;
    padding: 20px 0;
}

.article-return-to-top a:hover, .article-return-to-top a:focus {
    text-decoration: none;
}

.article-return-to-top-icon {
    transform: rotate(0.5turn);
}
