:root {
    --max-mobile-view: 991px;
    --min-desktop-view: 992px;
}

/***** Header *****/
.header {
    position: relative;
}

.header .header-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 52px 5% 32px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1160px) {
    .header .header-container {
        width: 90%;
    }
}

.header .dropdown-toggle {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.header .logo img {
    max-height: 43px;
}

.header .logo a {
    display: flex;
}

.header .header-actions {
    display: flex;
    align-items: center;
}

.header .request-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    border-radius: 10px;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    margin-right: 32px;
}

.header .user-info {
    margin-left: 32px;
}

.header .user-info > button {
    color: white;
}

.header .header-language-selector {
    width: 50px;
    text-align: center;
}

.header .header-language-selector a {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.header .user-info-block {
    display: flex;
    width: 100%;
    justify-content: end;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

.header-mobile-action {
    display: none;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1160px) {
    .header .user-info-block {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .header .header-container {
        padding: 40px 5% 0;
        align-items: flex-start;
    }

    .header .header-actions {
        flex-direction: column-reverse;
        align-items: end;
    }

    .header .logo img {
        max-height: 28px;
    }

    .header .request-button {
        display: none;
    }

    .header .user-info {
        margin-left: 0;
        margin-top: 12px;
    }

    .header .header-language-selector {
        margin-top: 0;
        font-size: 12px;
        line-height: 24px;
    }

    .header-mobile-action {
        display: flex;
    }

    .header-mobile-action .request-button {
        display: block;
        margin: 32px 0;
    }
}