/***** Header *****/
.header {
    position: relative;
}

.header .header-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 52px 5% 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header .dropdown-toggle {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

@media (min-width: 1160px) {
    .header .header-container {
        width: 90%;
    }
}

.header .logo img {
    max-height: 43px;
}

.header .logo a {
    display: flex;
}

.header .header-actions {
    display: flex;
    align-items: center;
}

.header .header-actions .request-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    border-radius: 10px;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    margin-right: 32px;
}