/***** Hero component *****/
.hero {
    background-position: center;
    background-size: cover;
    height: 580px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.hero-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    padding-top: 68px;
}

.hero-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 6px;
}

.hero-inner {
    max-width: 750px;
    position: relative;
    margin: 32px auto 0;
}

.hero-inner input[type="search"] {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding: 20px 20px 20px 60px;
    color: #104499;
    border-radius: 100px;
    height: 68px;
    border: none;
}

.hero-inner input[type="search"]::placeholder,
.hero-inner input[type="search"]:focus {
    border: none;
    color: #104499;
}

.hero .search-icon {
    color: #104499;
    transform: scale(1.5);
    position: absolute;
    top: 27px;
    left: 24px;
}