.section-page {
    max-width: 1260px;
    margin: 0 auto;
    padding: 64px 5% 0;
    display: flex;
    flex-direction: column;
}

.section-page .page-header h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 16px;
}

.section-page .article-list-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

@media (max-width: 767px) {
    .section-page .page-header h1 {
        font-size: 24px;
        line-height: 31px;
    }

    .section-page .article-list-item {
        font-size: 16px;
        line-height: 21px;
    }
}