main {
    min-width: 260px;
}

.hero-with-search {
    background-position: center top;
    background-size: cover;
    padding: 64px 32px;
    text-align: center;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.hero-inner {
    max-width: 750px;
    position: relative;
    width: 100%;
}

.hero-inner input[type="search"] {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding: 20px 40px 16px 60px;
    color: #104499;
    border-radius: 100px;
    height: 68px;
    border: none;
}

.hero-inner input[type="search"]::placeholder,
.hero-inner input[type="search"]:focus {
    border: none;
    color: #104499;
}

.hero-inner .search-icon {
    color: #104499;
    transform: scale(1.5);
    position: absolute;
    top: 27px;
    left: 24px;
}

.hero-inner-discard-search {
    display: none;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 24px;
    color: #104499;
    cursor: pointer;
}

.hero-inner-discard-search.visible {
    display: block;
}

.hero-inner-discard-search:hover {
    font-weight: bold;
}

.page-breadcrumbs {
    padding-bottom: 64px;
}

.page-breadcrumbs .breadcrumbs {
    margin: 0;
}

.page-breadcrumbs li {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.page-breadcrumbs a {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #104499;
}

.page-breadcrumbs li + li::before {
    color: #104499;
    content: "â¯"
}

.desktop-item {
    display: flex;
}

.mobile-item {
    display: none;
}

.language-selector {
    ]outline: none;
    background: none;
}

.language-selector .dropdown-clickable:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    left: -24px;
    width: 18px;
}

.language-selector .dropdown-clickable:after {
    background-repeat: no-repeat;
    background-size: 10px;
    font-weight: 700;
    height: 7px;
    right: -16px;
    width: 10px;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -4px;
    transform: rotate(180deg);
}

.language-selector .dropdown-clickable.opened:after {
    transform: rotate(0);
    margin-top: -2px;
}

.language-selector .dropdown-menu {
    right: -24px;
}

.dropdown-clickable {
    position: relative;
    cursor: pointer;
    background: none;
    border: 0;
    display: inline-block;
    padding: 0;
    text-align: initial;
    vertical-align: middle;
}

.dropdown-clickable:hover {
    text-decoration: none;
}

.dropdown-clickable > * {
    display: inline-block;
}

@media (max-width: 767px) {
    .hero-inner input[type="search"] {
        font-size: 14px;
        line-height: 32px;
        padding: 12px 30px 12px 30px;
        border-radius: 100px;
        height: 39px;
    }

    .hero-inner-discard-search {
        right: 16px;
        top: 7px;
        font-size: 16px;
    }

    .hero-inner .search-icon {
        transform: scale(0.75);
        top: 10px;
        left: 10px;
    }

    .page-breadcrumbs {
        padding-bottom: 52px;
    }

    .page-breadcrumbs a,
    .page-breadcrumbs li {
        font-size: 12px;
        line-height: 16px;
    }

    .desktop-item {
        display: none;
    }

    .mobile-item {
        display: flex;
    }

}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}